# Files
*.aipbnd.dcx
*.bak
*.created.bnk
*.ct
*.dds
*.dsaproj
*.dsasbak
*.fxr
*.log
*.prev
*.py
*.temp
*.tga
*.xml
*.lnk
!*.part*.temp

debug.dll
elden_ring_seamless_coop.dll
erhkshotloader.dll
ersc_settings.ini
ersc.dll
fxr_ws_reloader_config.json
fxr_ws_reloader.dll
seamlesscoopsettings.ini
SkipTheIntro.dll

_.hks
_DSAS_PROJECT.json
_DSAS_WORKSPACE.json
common_define.hks
ESDStudioProject.toml
esdtoolconfig.json
font.gfx
package-lock.json
package.json
project.json
PublicRelease/mod/sfx/.gitattributes
PublicRelease/version.txt

# Folders

*-dcx-wanibnd/
*-dcx-wffxbnd/
*-dcx/
*-tpfbdt/
*-tpfbhd/

.vscode/
cs_main/
node_modules/
recovery/
regulation-bin/
Resources/
ScalingJsonOutput/
SeamlessCoop/
systemparam/

_DSAS_CACHE/
.smithbox/