*.bak
*.created.bnk
*.ct
*.dds
*.dsaproj
*.dsasbak
*.log
*.prev
*.py
*.temp
*.tga
*.xml

elden_ring_seamless_coop.dll
seamlesscoopsettings.ini
ersc_settings.ini
ersc.dll
debug.dll
SkipTheIntro.dll

_DSAS_PROJECT.json
_DSAS_WORKSPACE.json
common_define.hks
_.hks
ESDStudioProject.toml
esdtoolconfig.json
font.gfx
project.json
package-lock.json
package.json
PublicRelease/mod/sfx/.gitattributes
PublicRelease/version.txt

*-dcx-wanibnd/
*-dcx-wffxbnd/
*-dcx/
*-tpfbdt/
*-tpfbhd/

Resources/
.vscode/
ScalingJsonOutput/
recovery/
regulation-bin/
node_modules/
systemparam/
SeamlessCoop/

.smithbox/
_DSAS_CACHE/
